/* Ingredients.module.css */
.ingredients {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 5em;
  margin:  15px;
}

.ingredientsCard {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1.5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 5px solid #ddd;
  border-right: 5px solid #ddd;
  transition: all 0.3s ease;
}

.ingredientsCard img {
  max-width: 150px;
  margin-right: 1.5em;
}

.ingredientsCard h2 {
  font-size: 1.5em;
  margin: 0 0 0.5em;
}

.ingredientsCard p {
  font-size: 1em;
  color: #555;
  margin-bottom: 1em;
}

.secondaryBtn {
  padding: 0.6em 1.2em;
  background-color: #0A0A0A;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  display: inline-block;
}


/* Tablets (max-width: 991px) */
@media (max-width: 991px) {
  .container {
    padding: 0 1.5em;
  }

  .ingredientsCard {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .ingredientsCard img {
    margin: 0 0 1em 0;
    max-width: 200px;
  }

  .secondaryBtn {
    padding: 0.6em 2em;
    font-size: 1.05rem;
  }
}

/* Phones (max-width: 600px) */
@media (max-width: 600px) {
  .container {
    padding: 0 1em;
  }

  .ingredientsCard {
    padding: 1em;
  }

  .ingredientsCard h2 {
    font-size: 1.2em;
  }

  .ingredientsCard p {
    font-size: 0.95em;
  }

   .secondaryBtn {
    padding: 0.6em 2em;
    font-size: 1.05rem;
  }
}
















